.project {
  display: flex;
  align-items: center;
  background-color: #030202;
  padding: 1rem;
}

.info {
  margin-right: auto;

  h4 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
}

.dates {
  display: flex;

  div {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  span {
    color: #767676;
    font-size: 14px;
  }
}

.controls {
  & > * {
    margin-left: 0.5rem;
  }
}